<div class="main-container" style="width: 100%; height:100%">
<svg style="width:100%;height:100%;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
  <!-- More X -->
  <image
    xlink:href="images/more.png"
    ng-attr-x="{{ctrl.more_x_x}}"
    ng-attr-y="{{ctrl.more_x_y}}"
    width="32"
    height="32"
    ng-click="ctrl.moreX()" />
  <!-- Less X -->
  <image
    xlink:href="images/less.png"
    ng-attr-x="{{ctrl.less_x_x}}"
    ng-attr-y="{{ctrl.less_x_y}}"
    width="32"
    height="32"
    ng-click="ctrl.lessX()" />

  <!-- More Y -->
  <image
    xlink:href="images/more.png"
    ng-attr-x="{{ctrl.more_y_x}}"
    ng-attr-y="{{ctrl.more_y_y}}"
    width="32"
    height="32"
    ng-click="ctrl.moreY()" />
  <!-- Less Y -->
  <image
    xlink:href="images/less.png"
    ng-attr-x="{{ctrl.less_y_x}}"
    ng-attr-y="{{ctrl.less_y_y}}"
    width="32"
    height="32"
    ng-click="ctrl.lessY()" />
  <!-- Save -->
  <image
    xlink:href="images/save.png"
    ng-attr-x="{{ctrl.save_x}}"
    ng-attr-y="{{ctrl.save_y}}"
    width="32"
    height="32"
    ng-click="ctrl.save()" />
  <!-- Cancel -->
  <image
    xlink:href="images/cancel.png"
    ng-attr-x="{{ctrl.cancel_x}}"
    ng-attr-y="{{ctrl.cancel_y}}"
    width="32"
    height="32"
    ng-click="ctrl.cancel()" />

  <!-- Buttons -->
  <image ng-repeat="link in ctrl.links"
    xlink:href=""
    ng-attr-xlink:href="{{link.img}}"
    ng-attr-x="{{link.x}}"
    ng-attr-y="{{link.y + 40}}"
    ng-attr-width="{{ctrl.sizeSquareX}}"
    ng-attr-height="{{ctrl.sizeSquareY - 40}}"
    ng-click="ctrl.goto(link)" />

  <image ng-repeat="link in ctrl.links"
    xlink:href="images/remove.png"
    ng-attr-x="{{link.x + ctrl.sizeSquareX - 40}}"
    ng-attr-y="{{link.y}}"
    ng-attr-width="32"
    ng-attr-height="32"
    ng-class="{'hide': !link.canRemove}"
    ng-click="ctrl.goto(link)" />

  <image ng-repeat="link in ctrl.links"
    xlink:href="images/edit.png"
    ng-attr-x="{{link.x + ctrl.sizeSquareX - 80}}"
    ng-attr-y="{{link.y}}"
    ng-attr-width="32"
    ng-attr-height="32"
    ng-class="{'hide': !link.canRemove}"
    ng-click="ctrl.goto(link)" />
</svg>
</div>
